/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Tipo de fuente principal */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0; /* Elimina el espaciado predeterminado del cuerpo */
}

/* Estilos para el encabezado */
header {
    background-color: rgba(51, 51, 51, 0.5); /* Color de fondo transparente con alfa */
    color: #fff; /* Color del texto en el encabezado */
    padding: 30px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación del texto en el centro */
    position: fixed; /* Fija el encabezado en la parte superior */
    width: 100%;
    transition: background-color 0.3s; /* Transición suave para el fondo */
    z-index: 1000; /* Asegura que el encabezado esté en la parte superior */
}
header img {
    width: 130px; /* Ajusta el ancho de la imagen según lo necesites */
    height: 105px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    position: absolute; /* Posición absoluta para que se superponga al encabezado */
    top: 2px; /* Ajusta la distancia superior según sea necesario */
    left: 50px; /* Ajusta la distancia izquierda según sea necesario */
    z-index: 1001; /* Asegura que el logo esté sobre el encabezado */
}
header.navbar-scrolled {
    background-color: #333; /* Color de fondo sólido al hacer scroll */
}
/* Estilos para la barra de navegación */
header nav ul {
    list-style-type: none; /* Quita las viñetas de la lista */
    padding: 0; /* Elimina el espaciado interno de la lista */
}

header nav ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Margen derecho entre elementos de la lista */
}

header nav ul li a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: #fff; /* Color del texto del enlace */
    font-weight: bold; /* Fuente en negrita para los enlaces */
}

header nav ul li a:hover {
    text-decoration: underline; /* Subrayado en el hover de los enlaces */
}

/* Estilos para la sección de búsqueda */
.search {
    text-align: center; /* Alineación del texto en el centro */
    margin: 20px auto; /* Margen exterior para centrar la sección */
    max-width: 600px; /* Ancho máximo de la sección */
}

.search h2 {
    font-size: 24px; /* Tamaño de fuente para el título */
}

.search input[type="text"],
.search input[type="date"],
.search button {
    padding: 10px; /* Espaciado interno de los elementos de entrada */
    margin: 5px; /* Margen entre elementos de entrada */
    border: 1px solid #ccc; /* Borde delgados para los elementos de entrada */
    border-radius: 5px; /* Bordes redondeados para los elementos de entrada */
}

.search button {
    background-color: #333; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-weight: bold; /* Fuente en negrita para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.search button:hover {
    background-color: #555; /* Cambia el color de fondo al pasar sobre el botón */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    text-align: center; /* Alineación del texto en el centro */
    padding: 10px; /* Espaciado interno del pie de página */
}

footer img {
    width: 200px; /* Ajusta el ancho de la imagen según lo necesites */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    display: block; /* Convierte la imagen en un bloque para centrarla horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente en el footer */
}

.carousel-container {
    position: relative;
    width: 100%; /* Ancho deseado del carrusel */
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.carousel img {
    width: 100%;
    height: 700px;

}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:focus {
    outline: none;
}

/* Añade un hover efecto para los botones si lo deseas */
.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.Alojamientos {
    text-align: center;
    padding: 20px;
}

.seccion-titulo {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.column {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    flex: 1;
    max-width: 300px;
    width: 100%;
    min-width: 280px; /* Ancho mínimo para evitar columnas muy estrechas */
    margin: 0 auto; /* Centra horizontalmente */
}

.column:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid transparent;
}

.column h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.column p {
    font-size: 16px;
}





.Destinos {
    text-align: center;
    padding: 100px;
}

.destinos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Columnas responsivas */
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra el contenido horizontalmente */

}

.imagen-con-texto {
    position: relative;
    max-width: 100%;
    width: 500px; /* Ancho fijo para todas las imágenes */
    height: 200px; /* Altura fija para todas las imágenes */
    border: 1px solid #ddd; /* Borde ligero alrededor de las imágenes */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s ease-in-out; /* Transición suave en hover */
}

.imagen-con-texto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
    opacity: 0; /* Oculta el overlay por defecto */
    transition: opacity 0.2s ease-in-out; /* Transición suave de la opacidad en hover */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Letras blancas */
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el texto en el overlay */
/* Ajusta el texto en hover para que sea visible */
.imagen-con-texto:hover .overlay {
    opacity: 1;
}


/* Asegúrate de que la imagen tenga una posición relativa para que el overlay funcione correctamente */
.destinos-container .imagen-con-texto {
    position: relative;
}

/* Estilo para las imágenes */
.destinos-container img {
    max-width: 100%;
    width: 500px; /* Ancho fijo para todas las imágenes */
    height: 200px; /* Altura fija para todas las imágenes */
    border: 1px solid #ddd; /* Borde ligero alrededor de las imágenes */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s ease-in-out; /* Transición suave en hover */
}

/* Escala la imagen ligeramente en hover */
.destinos-container img:hover {
    transform: scale(1.05);
}

.seccion-titulo {
    margin-top: 100px; /* Ajusta el valor según la cantidad de espacio que desees */
    margin-bottom: 100px;
}
.seccion-titulo2 {
    margin-top: 10px; /* Ajusta el valor según la cantidad de espacio que desees */
    margin-bottom: 100px;
}


.vuelo {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px; /* Agrega este estilo para abrir espacio con el footer */
}

.vuelo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.vuelo img{
    width: 150px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("arrow-down.png") no-repeat right center;
    background-size: 20px;
    padding-right: 30px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto; /* Esto centrará el botón horizontalmente */
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

/* responsive */
/* Estilos generales */
/* ... Tus estilos generales aquí ... */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    /* Estilos para el encabezado en dispositivos móviles */
    header {
        padding: 20px; /* Reduce el espaciado en dispositivos móviles */
    }

    /* Estilos para la barra de navegación en dispositivos móviles */
    header nav ul li {
        margin-right: 10px; /* Reduce el margen entre elementos de la lista */
    }

    /* Estilos para la sección de búsqueda en dispositivos móviles */
    .search {
        max-width: 100%; /* Ancho máximo del 100% en dispositivos móviles */
    }

    /* Estilos para el pie de página en dispositivos móviles */
    footer {
        background-color: #333; /* Color de fondo del pie de página */
        color: #fff; /* Color del texto en el pie de página */
        text-align: center; /* Alineación del texto en el centro */
        padding: 10px; /* Espaciado interno del pie de página */
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        box-sizing: border-box; /* Incluye el relleno en el ancho total */
    }

    footer img {
        width: 150px; /* Ajusta el ancho de la imagen en dispositivos móviles */
    }

    /* Estilos para el carrusel en dispositivos móviles */
    .carousel img {
        width: 100%;
        max-width: 100%; /* Establece un ancho máximo */
        height: auto;
    }
    
    .carousel-container {
        position: relative;
        width: 100%; /* Ancho total de la pantalla */
        overflow: hidden;
    }

    .row {
        display: block; /* Cambia a una disposición de bloques en dispositivos móviles */
    }

    .column {
        width: 280px; /* Ancho completo en dispositivos móviles */
        margin-bottom: 20px; /* Espaciado inferior entre elementos en dispositivos móviles */
    
    }
 

    /* Estilos para el encabezado */
    header {
        background-color: rgba(51, 51, 51, 0.5); /* Color de fondo transparente con alfa */
        color: #fff; /* Color del texto en el encabezado */
        padding: 30px; /* Espaciado interno del encabezado */
        text-align: center; /* Alineación del texto en el centro */
        position: fixed; /* Fija el encabezado en la parte superior */
        width: 100%;
        height: 25px;
        transition: background-color 0.3s; /* Transición suave para el fondo */
        z-index: 1000; /* Asegura que el encabezado esté en la parte superior */
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
    }

    header img {
        max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
        max-height: 100%; /* La imagen se ajustará al alto del contenedor */
        width: 90px; /* Anula el ancho fijo para permitir la adaptación */
        height: 80px; /* Anula la altura fija para permitir la adaptación */
    }
  
    .menu ul {
        background-color:rgba(0, 0, 0, 0.2) ;
        margin-top: 230px;
        list-style: none;
        padding: 0;
        text-align: center;
        margin-left: -60px;
        width: 200px;
      
    }
    
    .menu li {
        display: block;
        margin: 10px 0; /* Espacio vertical entre elementos */
        
    }
    
    .menu a {
        text-decoration: none;
        color: white;
        font-size: 15px;

    }
    .hidden {
        display: none;
    }
    .mobile-menu {
        display: flex;
        justify-content: flex-end; /* Esto alinea el contenido a la derecha */
        align-items: center; /* Esto alinea el contenido verticalmente al centro */
    }
      
    
    #mobile-menu-toggle {
        background: none;
        border: none;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        padding: 0;
        display: block;
        margin-left: auto; /* Mueve el botón a la derecha */
    }
    
    
    
    .vuelo{
        width: 200px;
    }

}
/* Estilos para el menú en dispositivos de escritorio */
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none; /* Ocultar el menú móvil en dispositivos de escritorio */
    }

    .menu {
        display: block; /* Mostrar el menú de escritorio */
    }
}

