body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Tipo de fuente principal */

}

header {
    background-color: rgba(51, 51, 51, 0.5); /* Color de fondo transparente con alfa */
    color: #fff; /* Color del texto en el encabezado */
    padding: 30px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación del texto en el centro */
    position: fixed; /* Fija el encabezado en la parte superior */
    width: 100%;
    transition: background-color 0.3s; /* Transición suave para el fondo */
    z-index: 1000; /* Asegura que el encabezado esté en la parte superior */
}
header img {
    width: 130px; /* Ajusta el ancho de la imagen según lo necesites */
    height: 105px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    position: absolute; /* Posición absoluta para que se superponga al encabezado */
    top: 2px; /* Ajusta la distancia superior según sea necesario */
    left: 50px; /* Ajusta la distancia izquierda según sea necesario */
    z-index: 1001; /* Asegura que el logo esté sobre el encabezado */
}
header.navbar-scrolled {
    background-color: #333; /* Color de fondo sólido al hacer scroll */
}
/* Estilos para la barra de navegación */
header nav ul {
    list-style-type: none; /* Quita las viñetas de la lista */
    padding: 0; /* Elimina el espaciado interno de la lista */
}

header nav ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Margen derecho entre elementos de la lista */
}

header nav ul li a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: #fff; /* Color del texto del enlace */
    font-weight: bold; /* Fuente en negrita para los enlaces */
}

header nav ul li a:hover {
    text-decoration: underline; /* Subrayado en el hover de los enlaces */
}
.hotel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-top: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.hotel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.hotel img {
    max-width: 100%;
    border-radius: 5px;
}

.hotel-name {
    font-size: 20px;
    margin: 10px 0;
}
.hotel-price {
    font-size: 15px;
    margin: 10px 0;
}

.hotel-stars {
    font-size: 24px;
    color: #f39c12;
    margin: 10px 0;
}